<p>clientes, cuentas, movimientos</p>

<!-- Modal -->
<div class="card">
  <div>
    <p-dialog
      header="Buscar o Crea Cliente"
      [(visible)]="displayModal"
      [modal]="true"
      [style]="{ width: '25vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <div>        
        <p-dropdown
          [(ngModel)]="selectedCliente"
          [style]="{ width: '100%', zIndex: 50 }"
          [options]="clientes"
          placeholder="Select Cliente"
          optionLabel="nombreCliente"          
          appendTo="body"
        ></p-dropdown>
      </div>

      <ng-template pTemplate="footer">
        <p-button
          icon="pi pi-check"
          (click)="buscarCliente()"
          label="Buscar"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          icon="pi pi-check"
          (click)="displayModalCrear = true"
          label="Crear"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          icon="pi pi-check"
          (click)="vistaDashboard()"
          label="volver"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
    </p-dialog>
  </div>

  <!-- Crear Cliente -->
  <div>
    <p-dialog
      header="Crea Cliente"
      [(visible)]="displayModalCrear"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <div class="grid p-fluid">
        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Nombre" [(ngModel)]="selectedCliente.nombreCliente" />
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
            <input type="text" pInputText placeholder="Telefono" [(ngModel)]="selectedCliente.telefonoCliente" />
          </div>
        </div>
        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-directions"></i></span>
            <input type="text" pInputText placeholder="Direccion" [(ngModel)]="selectedCliente.direccionCliente" />
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <p-button
          icon="pi pi-check"
          (click)="crearCliente()"
          label="Crear"
          styleClass="p-button-text"
        ></p-button>
        <p-button
          icon="pi pi-check"
          (click)="displayModalCrear = false"
          label="volver"
          styleClass="p-button-text"
        ></p-button>
      </ng-template>
    </p-dialog>
  </div>
</div>
